.avatarSelector input{
   margin:0;
   padding:0;
   display: none;
}

.avatarSelector input:active +.avatarOption{opacity: .9;}

.avatarSelector input:checked +.avatarOption{
   filter: none;
   border: 4px solid rgb(114, 108, 149);
   width:85px; height:85px;
}

.avatar {
   background-size:cover;
   background-repeat:no-repeat;
   border-radius: 100%;
}

.avatarReview {
   @extend .avatar;

   width:60px; height:60px;
   border: 2px solid rgb(197, 197, 197);
}

.avatarHeader {
   @extend .avatar;

   width:55px; height:55px;
   border: 2px solid rgb(197, 197, 197);
}

.avatarOption{
   @extend .avatar;

   width:70px; height:70px;
   cursor:pointer;
   display:inline-block;
   margin-left: 6px;
   margin-right: 6px;
   filter: brightness(0.9) grayscale(0.5) opacity(0.7);

   &:hover {
      filter: brightness(1.1) grayscale(.3) opacity(.9);
      width:75px; height:75px;
   }
}
