.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: 25.6px;
  }
}

.form__error {
  margin: 0 0 1.6px 0;
  color: rgb(255, 72, 72);
  font-style: italic;
}

.datePicker {
   width: 400px;
}
