

.selectedGenresText {
   font-size: 20px;
   text-align: center;
}

.selectedGenresText-container {
   @extend .text-input;
   height: 85px;
   margin:  5px;
   vertical-align: middle;
   display: flex;
   justify-content: center;
}


#selectGenres {
   width: 600px;
   padding: 7px 22px 9px 7px;
   background-color: var(--genres-selector-background);
}

.selectGenres-container {
   margin: 20px 0 20px 0;
   @media (min-width: 920px) {
      margin: 0 50px 0 30px;
   }
}







