.header--button {
   background-color: var(--header-button-background);
   color: var(--header-button-font);
   margin-right: 80px;
   transition: none;
   transition: filter 0.5s;
   border-width: 2.5px;
   border-color: var(--header-button-border);
}

.headerThemeSwitch {
   margin-top: 20px;
   transition: none;
}

.header--login {
   margin-top: 0px;
   height: 60px;
   width: 100px;
   
}

.header--myAccount {
   display: flex;
   flex-direction: row;
   padding: 5px 15px 5px 10px;
   p {
      margin-left: 17px;
      margin-bottom: 0;
      
      font-size: 23px;
      //font-weight: 700;
      letter-spacing: 1px;
      font-family: "Comic Sans MS", cursive, sans-serif;
   }
}

.header {
  background-color: var(--header-background);
  text-align: center;
  height: 200px;
  padding-top: 25px;
  transition: background 0.5s ease;

  @media (min-width: 1000px) {
    height: $header-height;

    .header--button {
      position: absolute;
      margin-right: 0;
      left: 7%;
    }

    .header--login {
      top: 30px;
      margin-top: 0;
   }
   
   .header--myAccount {
      top: 25px;
   }

    .headerThemeSwitch {
      position: absolute;
      right: 7%;
      top: 40px;
      margin-top: 0;
    }
  }

  &:hover {
    background-color: var(--header-background-hover);
  }
}

.header__title {
  text-decoration: none;

  h1 {
    color: var(--header-font);
    margin: 0;
    margin-left: 15px;
    font-size: 40px;
    letter-spacing: 3.5px;
  }

  &:hover {
    h1 {
      color: var(--header-font-hover);
      letter-spacing: 4.3px;
    }
  }
}

.inOneLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
}
