
.text-input {
  border: 1px solid #cacccd;
  background-color: var(--input-background);
  color: var(--font-color);
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  padding: 12px;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 160px;
  resize: none;
}

*::placeholder {
   color: var(--placeholder-color);
   font-weight: 100;
   //font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

 