

.list-body {
  width: 100%;
  margin-bottom: 25.6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0;
  @media (min-width: $desktop-breakpoint) {
    padding-bottom: 51.2px;
  }
}

.list-item {
  width: 320px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  padding: 15px 20px 0 20px;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s ease;
  margin: -1px;
  
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    //padding: 25.6px;
  }
}


.list-item__title {
  margin: 5px 0 0 0;
  font-size: 23px;
  word-break: break-all;
}

.list-item__sub-title {
   color: var(--soft-font-color);
  font-size: 18px;
}

.list-item__data {
  margin: 1.2px 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: 19.2px;
  }
}

.genresSummery {
 margin-top: 10px;
 margin-bottom: 10px;
}

.genresPair {
   margin: 3px;
}