.login-ui__container {
  /*align-items: center;*/
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-ui {
  margin-top: calc((100vh - 500px) / 2);
  background-color: var(--header-background);
  border-radius: 15px;
  padding: 33px 25.6px;
  text-align: center;
  width: 350px;
  height: 460px;
  color: var(--header-font);
}

.page404 {
   height: 544px;
}

.login__subtitle {
   letter-spacing: 0.7px;
   font-size: 19px;
   font-family: Bradley Hand, cursive;
 }

.login-ui:hover {
  background-color: var(--header-background-hover);
  color: var(--header-font-hover);
  width: 365px;
  padding-top: 38px;
  border-radius: 6px;

  .login__title {
   letter-spacing: 4.2px;
  }

  .login__subtitle {
    letter-spacing: 1.1px;
  }
}

.login__title {
  margin: 0;
  line-height: 1;
  
   font-size: 40px;
   letter-spacing: 3px;
}

.loginButtons {
  margin-top: 50px;
  p {
    margin-top: 11.2px;
    margin-bottom: 11.2px;
    font-size: 14px;
    font-style: Andale Mono, monospace;
    color: var(--or-text);
    letter-spacing: 1px;
  }
}

.loginThemeSwitch {
   margin-top: 45px;
}

.buttonWithImg {
   height: 43px;
   justify-content: center;
   display: flex;
   padding: 0;  

   img {
      width: 43px;
      border: 4px solid rgb(144, 144, 175);
   }

   button {
      margin: 0;
   }
}