.login-ui__container {
  /*align-items: center;*/
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-ui {
  margin-top: calc((100vh - 33rem) / 2);
  background-color: rgb(41, 35, 47);
  border-radius: 15px;
  padding: 3.2rem 1.6rem;
  text-align: center;
  width: 26rem;
  height: 32.5rem;
  color: rgb(224, 230, 191);

  p,
  h2 {
    letter-spacing: 0.7px;
  }

  transition: all 0.5s ease;
  p,
  h1,
  h2 {
    transition: all 0.5s ease;
  }

  p {
    font-size: 15px;
  }
}

.login-ui:hover {
  background-color: rgb(14, 9, 39);
  color: rgb(221, 219, 136);
  width: 27rem;
  height: 33rem;
  padding-top: 3.4rem;
  border-radius: 6px;
  p,
  h2 {
    letter-spacing: 1px;
  }

  h1 {
    letter-spacing: 2.3px;
  }
}

.login-ui__title {
  margin: 0 0 1.6rem 0;
  line-height: 1;
  letter-spacing: 1.7px;
}

.loginButtons {
  margin-top: 3.3rem;
  p {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-size: 12px;
    font-style: Andale Mono, monospace;
    color: rgb(221, 221, 221);
    letter-spacing: 1px;
  }
}
