/*
.user-view--poster {
   display: inline;
}
*/


.posterAndTrailer {
   display: flex; 
   flex-direction: row;

   .movie-page-posterAndRating {
      margin-right: 30px;
   }

   @media (max-width: 930px) {
      flex-direction: column;
      .rating {
         margin-bottom: 30px;
      }
   }
}

.info {
   color: var(--soft-font-color);
   h3 {
      font-size: 23px;
   }

   p {
      font-size: 17px;
   }
}

.info--oneLine {
   h3 {
      font-size: 17px;
      margin-right: 10px;
   }

   h3, p {
      display: inline;
   }
}

.info--mulLine {
   width: 500px;
   //font-size: 18px;
   h3 {
      margin-bottom: -10px;
   }
}


