$desktop-breakpoint: 720px;
$header-height: 120px;


* {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

#app, html, body {
   height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.site-background {
   background: var(--site-background);
   background-size: cover;
   min-height: 100%;
}

.page-margin {
   margin-left: 10%;
   margin-right: 5%;
 }
 

.itemsBackground {
   border: 1px solid var(--items-border);

  background-color: var(--items-background);
  &:hover {
    background-color: var(--items-background-hover);
  }
}

button {
  cursor: pointer;

  &:hover {
     font-weight: 600;
  }
}

button:disabled {
  cursor: default;
}

