$desktop-breakpoint: 720px;
$header-height: 120px;


* {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

#app, html, body {
   height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.site-background {
   background: var(--site-background);
   background-size: cover;
   min-height: 100%;
}

.page-margin {
   margin-left: 10%;
   margin-right: 5%;
 }

 .page-content-padding {
   padding: 28px;
 }

 .moviePage-content {
   width: 830px;
   border: 2px solid gray;
   background-color: var(--items-background);
   transition: none;

   @media (max-width: 930px) {
      width: 550px;
   }
 }
 

.itemsBackground {
   border: 1px solid var(--items-border);

  background-color: var(--items-background);
  &:hover {
    background-color: var(--items-background-hover);
  }
}

button {
  cursor: pointer;

  &:hover {
   filter:hue-rotate(15deg) invert(11%);
  }
}

button:disabled {
  cursor: default;
}

