.bright {
   --site-background: url('/images/potatoes5.png');

   --header-background: rgb(65, 49, 40);
   --header-background-hover: rgb(46, 36, 28);
   --header-button-background: rgb(141, 135, 120);
   --sub-header-background: rgb(190, 173, 139);
   
   --genres-selector-background: rgba(189, 173, 123, 0.5);
   --years-slider-checked: rgb(214, 190, 123);
   --years-slider-sign: rgb(204, 174, 120);
   --years-slider-rail: rgb(151, 151, 151);
   


   --add-movie-background: rgb(97, 70, 58);
   --add-movie-symbol: rgb(204, 199, 193);

   --popup-background: rgb(245, 233, 212);
   --input-background: rgb(255, 255, 255);
   --items-background: rgb(243, 240, 224);
   --items-background-hover: rgb(228, 224, 203);
   
   --items-border: rgb(134, 134, 134);
   --header-button-border: rgb(134, 124, 107);



   --font-color: rgb(34, 34, 34);
   --soft-font-color: rgb(95, 95, 95);
   --placeholder-color: rgb(175, 175, 175);
   --header-font: rgb(224, 230, 191);
   --header-font-hover: rgb(221, 219, 136);
   --header-button-font: rgb(236, 236, 224);
   --or-text: rgb(221, 221, 221); 
}


.dark {
   --site-background: url('/images/potatoes-dark4.png');

   --header-background: rgb(34, 27, 41);
   --header-background-hover: rgb(19, 15, 26);
   --header-button-background: rgb(75, 90, 104);
   --sub-header-background: rgb(61, 70, 83);

   --genres-selector-background: rgba(12, 12, 12, 0.5);
   --years-slider-checked: rgb(40, 29, 143);
   --years-slider-sign: rgb(53, 64, 165);
   --years-slider-rail: rgb(107, 107, 107);

   --add-movie-background: rgb(15, 30, 56);
   --add-movie-symbol: rgb(150, 170, 195);

   --popup-background: rgb(80, 75, 69);
   --input-background: rgb(105, 105, 114);
   --items-background: rgb(46, 41, 37);
   --items-background-hover: rgb(51, 51, 51);

   --items-border: rgb(158, 158, 158);
   --header-button-border: rgb(58, 63, 92);



   --font-color: rgb(219, 219, 219);
   --soft-font-color: rgb(185, 185, 185);
   --placeholder-color: rgb(177, 177, 177);
   --header-font: rgb(224, 230, 191);
   --header-font-hover: rgb(221, 219, 136);
   --header-button-font: rgb(191, 219, 236);
   --or-text: rgb(221, 221, 221);
}


/*
   --header-background: rgb(160, 151, 200);
   --header-background-hover: rgb(137, 127, 180);
   --header-font: rgb(59, 52, 35);
   --header-font-hover: rgb(0, 0, 0);
*/

